/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #232323;
    color: #d8d8d8;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    
    display: block;
    margin: 10px;  /* Adjust margin as per your requirements */
    width: 150px;  /* Set a fixed width */
    height: 0px;  /* Set a fixed height */
    padding: 15px 35px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    border: 1px solid;
    border-radius: 1px;

    color: #303030; /*  border color */
    background-color: #161616;
    transition: border 0.1s;

}

input:focus {
    outline: none; 
    border: 1px solid #4586ff;
}

button {
    display: block;
    margin: 10px;  /* Adjust margin as per your requirements */
    width: 200px;  /* Set a fixed width */
    height: 0px;  /* Set a fixed height */
    padding: 15px 35px;
    font-size: 12px;
    background-color: #2B6DE8;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.1s;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    color: #ffffff;
}

button:hover {
    background-color: #205ab3; 
}

label {
    margin: 15px;
    display: none;
}