body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: #232323;
    color: #d8d8d8;
    text-align: center;
}


input {
    display: block;
    margin: auto;
    max-width: 80%;
    padding: 15px 35px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    border: 1px solid;
    border-radius: 100px;
    color: #ffffff;
    background-color: #111111;
    transition: border 0.1s;
}

input:focus {
    outline: none; 
    border: 1px solid #4586ff;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 35px;
    font-size: 15px;
    background-color: #2B6DE8;
    border: none;
    border-radius: 100px;
    
    cursor: pointer;
    transition: background-color 0.1s;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; 
    color: #ffffff;
}

button:hover {
    background-color: #205ab3; 
}


label {
    margin: 15px;
    display: block;
}
