.download-button {
    width: 36px;
    height: 31px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    background-color: #075687;
    border: 1px solid #075687;
    transition: ease 0.125s;
    outline: none;
}

.download-button:hover{
    background-color: #1473E6;
    outline: none;
}
  