.download-button {

    color: white;
    cursor: pointer;
    margin-left: 5px;
    background-color: #232323;
    border: 1px solid #cfcfcf;
    transition: ease 75ms;
    border-radius: 100px;
    outline: none;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
}

.download-button:hover{
    color: #232323;
    background-color: #cfcfcf;
    outline: none;
}
  