/* SettingsButton.css */

.settings-button {
  width: 36px;
  height: 36px;
  background-color: #161616;
  border: 1px solid #313131;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  transition: ease 0.125s;
}
  
.settings-button.disabled {
  background-color: #1D1D1D;
  border: 1px solid #313131;
  color: rgb(175, 175, 175);;
  cursor: not-allowed;
  pointer-events: none;
}
  