/* ToggleButton.css */

.toggle-button {
    height: 36px;
    padding: 7px;
    border: 1px solid #313131;
    background-color: #1D1D1D;
    color: rgb(175, 175, 175); /* Text color */
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    transition: ease 0.1s;
}

.toggle-button:hover{
    background-color: #2A2A2A;
}
  
.toggle-button.active { /* You can toggle this 'active' class in your React component */
    
    background-color: #075687;
    border: 1px solid #00000000;
}
  