.progress-dashboard {
  /* Dimensions */
  width: 100vw;
  box-sizing: border-box;
  height: 200px;
  overflow-y: auto;
  
  /* Positioning */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  
  /* Design */
  background-color: #1E1E1E;
  color: #bbbbbb;
  border: 2px solid 1C1C1C;
  padding: 20px;
  
  /* Centering the text */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Transition for smooth appearance */
  transition: opacity 50ms, visibility ms;
}

/* Scrollbar */
.progress-dashboard::-webkit-scrollbar {
  width: 5px;
}

.progress-dashboard::-webkit-scrollbar-thumb {
  background-color: #88888888;
  border-radius: 10px;
}

.progress-dashboard::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.progress-dashboard.hidden {
  visibility: hidden;
  opacity: 0;
}

.progress-dashboard.visible {
  visibility: visible;
  opacity: 1;
}

.progress-dashboard > button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.progress-dashboard > button:hover {
  background-color: #2980b9;
}

.progress-btn {
  background-color: #1C1C1C;
  border: 1px solid #313131;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 50ms;
}

.progress-btn.active {
  background-color: #3498db;
  color: #fff;
  border: 1px solid #313131;
}
  