/* DownloadStateIcon.css */
.state-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.state-icon.downloading {
    position: relative;
    border: 2px solid #A2A2A2;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.state-icon.downloading::before,
.state-icon.downloading::after {
    content: "";
    position: absolute;
    width: 3px; 
    height: 50%; 
    background-color: #A2A2A2;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: 100ms ease;
}


.state-icon.completed {
    position: relative;
    background-color: #4c4c4c;
    border-radius: 50%;
    width: 24px;  /* Adjust width and height as needed */
    height: 24px;
    border: 2px solid transparent;
}

.state-icon.completed::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    top: 5px;
    left: 8px;
    transform: rotate(45deg);
}

.state-icon.failed {
    background-color: #c0392b;
}

.state-icon.cancelled {
    background-color: #c0392b;
    border: 2px solid transparent;
}


/* cross and animation */

.state-icon.downloading::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.state-icon.downloading::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.state-icon.downloading:hover::before,
.state-icon.downloading:hover::after {
    background-color: #dddddd;
}

.state-icon.downloading:hover::after {
    background-color: #dddddd;
}