body, button, input, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(199, 199, 199); /* Text color */
}

.main-container {
    width: 100%;
}

.download-progress-container {
    display: flex;
    flex-direction: column;
}