/* HomePage.css */

/* Main container */
.home-page-container {
  box-sizing: border-box;
  border-bottom: 2px solid #31313100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  
}

.dropdown-container{
  display: flex;
  margin: 10px;
}

.link-input-container {
  position: relative;
  /* ...existing styles */
}

.loading-bar {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #313131;
  position: absolute;
  bottom: 0;
  left: 0;
}

.loading-bar div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #007bff;
  animation: loading-animation 1.5s infinite ease-in-out;
}

@keyframes loading-animation {
  0% { left: -100%; }
  100% { left: 100%; }
}

.message {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 14px;
}