/* HomePage.css */

/* Main container */
.home-page-container {
  box-sizing: border-box;
  border-bottom: 2px solid #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  
}

.dropdown-container{
  display: flex;
  margin: 10px;
}
